.navbar-collapse{
    background-color: rgb(240, 36, 36);
    
}

.titulo{

    background-color: cornflowerblue;
    color: navy;
}

fieldset{

    background-color: cornflowerblue;
}

.filtros{

    background-color: antiquewhite;
}

.filtros label{

    float: center;
    margin-left: 10px;
    margin-right: 30px;
}

.filtros select, .numberCantidad{

    
    float: center;
    width: 15%;
}